{% import _self as macro %}

<script>
    let data{{ cultureTable.id }}All = JSON.parse('{{ infoCultureTable['All']|json_encode()|escape('js')|raw }}');

    {% for index in 1..4 %}
        let data{{ cultureTable.id ~ index }} = JSON.parse('{{ infoCultureTable[index]|json_encode()|escape('js')|raw }}');
    {% endfor %}
</script>

<div class="row">
    <div class="col-md-4">
        <ul class="nav nav-pills nav-pills-info flex-column" role="tablist2">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link-{{ cultureTable.id }}-All" role="tablist2">
                    Général
                </a>
            </li>
            {% for index in 1..4 %}
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#link-{{ cultureTable.id }}-{{ index }}" role="tablist2">
                        Segment {{ index }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-8">
        <div class="tab-content">
            <div class="tab-pane active" id="link-{{ cultureTable.id }}-All">
                <div class="chartGreenhouse text-center">
                    {% if not infoCultureTable['All'] %}
                        <div class="alert alert-info" role="alert">
                            Aucun arbre sur ce segment
                        </div>
                    {% else %}
                        <div class="row">
                            <div class="col-md-12 col-xl-4">
                                {{ macro.stats(infoCultureTable['All']) }}

                            </div>
                            <div class="col-md-12 col-xl-8 mt-md-3">
                                <p class="h3 text-center mt-0"> Général </p>

                                <div class="ct-chart mt-3" id="greenhouseSpaceChart{{ cultureTable.id }}All" style="height: 300px;"></div>
                                {{ macro.legend() }}
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-12">
                                {{ macro.tableTree(infoCultureTable['All']['trees']) }}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% for index in 1..4 %}
                <div class="tab-pane" id="link-{{ cultureTable.id }}-{{ index }}">

                    <div class="chartGreenhouse text-center">
                        {% if not infoCultureTable[index] %}
                            <div class="alert alert-info" role="alert">
                                Aucun arbre sur ce segment
                            </div>
                        {% else %}
                            <div class="row">
                                <div class="col-md-12 col-xl-4">
                                    {{ macro.stats(infoCultureTable[index]) }}
                                </div>

                                <div class="col-md-12 col-xl-8 mt-md-3">
                                    <p class="h3 text-center mt-0"> Segment {{ index }} </p>

                                    <div class="ct-chart mt-3" id="greenhouseSpaceChart{{ cultureTable.id ~ index }}" style="height: 300px;"></div>
                                    {{ macro.legend() }}
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-md-12">
                                    {{ macro.tableTree(infoCultureTable[index]['trees']) }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% macro stats(info) %}
    <div class="col-md-12">
        <div class="alert alert-info p-2 text-center">
            <span style="font-size: 1.3em"> <b style="font-size: 1.3em">{{ info['available'] }}%</b> disponibles </span>
        </div>
    </div>

    <p class="mb-0">Actuellement :</p>
    {% for refPotType, nbPotType in info['potTypeOnCultureTable'] %}
        <span class='box {{ refPotType }}'> {{ nbPotType }} </span>
    {% endfor %}

    <p class="mb-0 mt-3">Peut encore rentrer :</p>
    {% for refPotType, nbPotType in info['potTypeThanCanFits'] %}
        <span class='box {{ refPotType }}'> {{ nbPotType }} </span>
    {% endfor %}

{% endmacro %}

{% macro legend() %}
    <div class="col-md-12 mt-3">
        <i class="fa fa-circle RS-270-R ml-2"></i> RS-270-R
        <i class="fa fa-circle RS-150-O ml-2"></i> RS-150-O
        <i class="fa fa-circle RS-460-J ml-2"></i> RS-460-J
        <i class="fa fa-circle RS-740-V ml-2"></i> RS-740-V
        <i class="fa fa-circle RS-1050-B ml-2"></i> RS-1050-B
        <i class="fa fa-circle RS-1830-N ml-2"></i> RS-1830-N
    </div>
{% endmacro %}

{% macro tableTree(trees) %}
    <table class="table table-striped table-bordered nowrap tableLotGreenhouse">
        <thead>
        <tr>
            <th> <input type="checkbox" id="select_all" class="dt-active"> </th>
            <th> Arbres </th>
            <th> Lot </th>
            <th> Espèce </th>
            <th> Position </th>
        </tr>
        </thead>
        <tbody>
        {% for tree in trees %}
            <tr>
                <td>
                    <input type="checkbox" class="dt-active" data-id="{{ tree.id }}">
                </td>
                <td>
                    {% if tree.potType %}<i class="fa fa-circle {{ tree.potType }} ml-2"></i>{% endif %}
                    <a href="{{ path('app_admin_tree_detail', { id: tree.id }) }}" class="font-weight-bold"> {{ tree }} </a>
                </td>
                <td>
                    {% if tree.lot %}
                        <a href="{{ path('app_admin_lot_edit', { id: tree.lot.id }) }}"> {{ tree.lot }} </a>
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td> {{ tree.species ? tree.species : '-' }} </td>
                <td> {{ tree.segment }} - {{ tree.tableColumn }} - {{ tree.columnRow }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}
