{% extends 'admin/base.html.twig' %}

{% set title = 'Mon compte' %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"> Mon compte </li>
{% endblock %}

{% block body %}
{#    <div class="row">#}
{#        <div class="col-md-12">#}
{#            <a href="{{ path('app_admin_user_add') }}" class="btn btn-info float-right">#}
{#                <i class="material-icons">manage_accounts</i> Paramètres#}
{#            </a>#}
{#        </div>#}
{#    </div>#}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-info">
                    <h4 class="card-title "> Mon compte </h4>
                    <p class="card-category"> Modifier mon compte </p>
                </div>
                <div class="card-body">

                    {{ form_start(form) }}

                    <div class="row">
                        <div class="col-md-6">
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    {{ form_row(form.username) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_row(form.email) }}
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-md-6">
                                    {{ form_row(form.plainPassword.first) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_row(form.plainPassword.second) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
