<div class="row">
    <div class="col-md-12">
        <div class="p-3">
            {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-4">
                        {{ form_row(form.date) }}
                    </div>

                    <div class="col-md-4">
                        {{ form_row(form.type) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        {{ form_row(form.content) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        {{ form_row(form.visiblePublic) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        {{ form_row(form.save) }}
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
